/* reset css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #121214;
  height: 100vh;
}

body,
button,
input {
  font-family: "Work Sans", sans-serif;
}

#logo > img {
  width: 389px;
  height: 94px;
  margin-top: 50px;
  margin-left: 29px;
  /*margin-right: 302px;*/
}

#card {
  margin: 70px 0 25px 36px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#card > #title {
  color: #08c05e;
  font-weight: 700;
  font-size: 24px;
}

#card > #subtitle {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

#card > #paragraph {
  color: #e1e1e6;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 25px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 50px;
}

#form > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

#form > div > input {
  width: 400px;
  height: 48px;
  border: none;
  margin-left: 36px;
  border-radius: 5px;
  padding: 0 12px;
}

#form > div > input:focus {
  outline: 2px solid #08c05e;
}

#form > div > button {
  background-color: #08c05e;
  height: 48px;
  width: 48px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form > h4 {
  color: #a8a8a8;
  font-weight: 500;
  margin-left: 36px;
}

#link > a {
  color: #08c05e;
  margin-left: 36px;
  text-decoration: none;
}

#link {
  display: flex;
  align-items: center;
  gap: 5px;
}

#columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  height: 100%;
}

#image {
  background-image: url("./assets/read_news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (max-width: 1050px) {
  #columns {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #image {
    display: none;
  }
}

@media (min-width: 1500px) {
  #columns > #grid-1 {
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  #form > div > input {
    width: 300px;
  }
  #logo > img {
    margin-top: 0px;
  }
}
